@media all and (min-width: 320px) {
	html{
		font-size: 85.33333333px;
	}
}
@media all and (min-width: 360px) {
	html{
		font-size: 96px;
	}
}
@media all and (min-width:375px) {
	html{
		font-size: 100px;
	}
}
@media all and (min-width:414px) {
	html{
		font-size: 110.4px;
	}
}
@media all and (min-width:411px) {
	html{
		font-size: 109.6px;
	}
}
@media all and (min-width: 768px) {
	html{
		font-size: 204.8px;
	}
}
@media all and (min-width: 1024px) {
	html{
		font-size: 273.06px;
	}
}